<section class="home">
    <img src="https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946__480.jpg" alt="">
    <p>Coming soon..</p>
    <div class="timer">
        <div class="q">
            <span id="days"> {{daysToDday}} </span><span class="date-name">{{day_number}}</span>
        </div>
        <div class="q">
            <span id="hours"> {{hoursToDday}} </span><span class="date-name">Hrs</span>
        </div>
        <div class="q">
            <span id="minutes"> {{minutesToDday}} </span><span class="date-name">Min</span>            
        </div>
        <div class="q">            
            <span id="seconds"> {{secondsToDday}} </span><span class="date-name">S</span>
        </div>
    </div>
</section>